.grid-container{
    width: 80%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    background-color: #c4cad0;
    text-align: left;
}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(67, 41, 132, 0.1);
    padding: 15px;
    margin: 10px 0;
    background-size: 25%;
    background-position: right;
    background-repeat: no-repeat;
    text-align: justify;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

 .Images{
    border-radius: 5px;
    float: right;
    width:150px;
    height:150px;
    background-position: right;
    margin-left: 15px;
}


 body{
    margin: 0;
    padding: 0;
    background-color: #ffaedd;

 }

 ul {
    position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a03f39b3;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #a03f39b3;
}